
ios/RNWechat.xcodeproj/project.xcworkspace/contents.xcworkspacedata

ios/RNWechat.xcodeproj/project.xcworkspace/xcuserdata/lumin.xcuserdatad/UserInterfaceState.xcuserstate

ios/RNWechat.xcodeproj/xcuserdata/lumin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ios/RNWechat.xcodeproj/xcuserdata/lumin.xcuserdatad/xcschemes/RNWechat.xcscheme

ios/RNWechat.xcodeproj/xcuserdata/lumin.xcuserdatad/xcschemes/xcschememanagement.plist
